@import url("https://use.typekit.net/dus8hal.css");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&display=swap');

:root {
    --diagonal-offset: 120px;
    --primary-green: #026963;
    --secondary-green: #007f78;
    --tertiary-green: #015c57;
    --soft-yellow: #fffede;
    --soft-blue: #e6f8ff;
    --dark-grey: #343434;
    --light-grey: #474646;
}

* {
    padding: 0;
    margin: 0;
    font-family: alwyn-new-web, sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    padding: 0;
    margin: 0;
    color: #fff;
    background-color: #007b74;
}

header {
    color: #fff;
    background-color: #015c57;
    padding-top: 7px;
    padding-bottom: 7px;
    text-align: center;
}

header .fab {
    color: #fff;
}

header .fab:hover {
    color: #e6f8ff;
}

nav .container {
    padding-top: 50px;
    padding-bottom: 150px;
}

nav .nav-item {
    padding-left: 10px;
    padding-right: 10px;
    letter-spacing: 1px;
}

.nav-content {
    background-color: #026963;
    min-height: 200px;
    position: relative;
}

.obl-content {
    position: relative;
    text-align: center;
    padding: 25px;
    color: #FFF;
    background-color: #007f78;
}

.obl-content a {
    color: #fff;
    text-decoration: none;
}

.obl-content a:hover {
    color: var(--tertiary-green);
}


.logo {
    position: relative;
    min-width: 100px;
    max-width: 75%;
    justify-content: center;
    padding-left: 50px;
}

main>.container {
    padding: 60px 15px 0;
    margin-bottom: 3rem;

}

main>.container-fluid {
    padding: 60px 15px 0;
    margin-bottom: 3rem;
}

/** Hero Styles **/

.hero {
    color: #026963;
    text-align: center;
    background-color: #fffede;
    position: relative;
    min-height: 600px;
}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:var(--soft-blue);
    background-image: url('/img/family.png');
    background-position: center;
    background-size: cover;
}


.hero-content {
    padding-right: 0;
    position: relative;
    z-index: 1;
}

.hero .container {
    text-align: center;
}

.hero h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    font-style: italic;
    font-size: 6rem;
}

@supports (clip-path: none) {
    .hero::before {
        height: calc(100% + var(--diagonal-offset) * 2);
        top: calc(var(--diagonal-offset) * -1);
        clip-path: polygon(0% 0%, 100% var(--diagonal-offset),
                100% 100%, 0% calc(100% - var(--diagonal-offset)));
    }
}

/** Tile Styles **/

.stats {
    position: relative;
    text-align: center;
    color: var(--primary-green);
}

.stats h1{
    font-size: 100px;
    font-weight: 700px;
    display: inline;
}

.stats h3{
    color: var(--dark-grey);
    font-size: 50px;
    font-weight: 700;
}

.tiles {
    color: #5f5f5f;
    background-color: transparent;
    position: relative;
    
}

.tiles .first-link-row {
    align-self: end;
    justify-self: end;
}

.tiles::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #e6f8ff;
}

.tiles-content {
    position: relative;
    z-index: 1;
}

.tiles .container {
    text-align: center;
}

.tiles .shadow {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

@supports (clip-path: none) {
    .tiles::before {
        height: calc(100% + var(--diagonal-offset) * 2);
        top: calc(var(--diagonal-offset) * -1);
        clip-path: polygon(0% 0%, 100% var(--diagonal-offset),
                100% 100%, 0% calc(100% - var(--diagonal-offset)));
    }
}

/** Calendar Styles **/

.calendar {
    min-height: 700px;
}

.events {
    color: #ffffff;
    background-color: #474646;
    padding: 25px;
}

.news {
    color: #ffffff;
    background-color: #343434;
    padding: 25px;
}

/** Poll Styles **/

.interactive-poll {
    color: #5f5f5f;
    background-color: transparent;
    position: relative;
    min-height: 400px;
    letter-spacing: 1;
    text-align:center;
}

.interactive-poll::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #e6f8ff;

}

.interactive-poll h3{
    color: var(--primary-green);
    font-weight: 700;
}

.interactive-poll h6{
    color: var(--dark-grey);
    font-weight: 700;
}

.interactive-poll label{
    padding-right: 50px;
}

.poll-content {
    position: relative;
    z-index: 1;
    text-align: center;
    padding: 100px;
}

@supports (clip-path: none) {
    .interactive-poll::before {
        height: calc(100% + var(--diagonal-offset) * 2);
        top: calc(var(--diagonal-offset) * -1);
        clip-path: polygon(0% 0%, 100% var(--diagonal-offset),
                100% 100%, 0% calc(100% - var(--diagonal-offset)));
    }
}

/** Marketplace Styles **/

.marketplace {
    color: var(--dark-grey);
    background-color: #ffffff;
    position: relative;
    min-height: 400px;
}

.marketplace h1{
    color: var(--primary-green);
    font-weight: 750;
}

.marketplace::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
}

.marketplace-content {
    position: relative;
    z-index: 1;
}

.marketplace img{
    padding-right: 150px;
}

@supports (clip-path: none) {
    .marketplace::before {
        height: calc(100% + var(--diagonal-offset) * 2);
        top: calc(var(--diagonal-offset) * -1);
        clip-path: polygon(0% 0%, 100% var(--diagonal-offset),
                100% 100%, 0% calc(100% - var(--diagonal-offset)));
    }
}


/*** Footer Styles ***/
footer {
    background-color: #015c57;
    position: relative;
    bottom: 0;
    width: 100%;
    min-height: 250px;
}

.footer-content {
    color: #fff;
    padding-top: 150px;
    padding-left: 50px;
    padding-bottom: 10px;
    clip-path: polygon(0 0, 100% 50%, 100% 100%, 0% 100%);
}

.footer-content a {
    color: #fff;
    text-decoration: none;
}

.footer-content a:hover {
    color: var(--soft-blue);
    text-decoration: underline;
}

.footer-logo {
    bottom: 0;
    max-width: 50%;
    padding-bottom:10px;
}

.footer-icon {
    max-width: 80%;
    max-height: 100px;
    padding-bottom: 10px;
}

/*** Images ***/
.cover {
    width: 100%;
    max-height: 500px;
    margin: auto;
    object-fit: cover;

}

/* Buttons */
.button-1 {
    align-items: center;
    background-color: #fff;
    border: 2px solid #fff;
    box-sizing: border-box;
    color: var(--primary-green);
    cursor: pointer;
    display: inline-flex;
    fill: #000;
    font-size: 20px;
    font-weight: 600;
    height: 48px;
    justify-content: center;
    line-height: 24px;
    min-width: 140px;
    outline: 0;
    padding: 0 17px;
    text-align: center;
    text-decoration: none;
    transition: all .3s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-1:focus {
    color: var(--tertiary-green);
}

.button-1:hover {
    border-color: var(--tertiary-green);
    background-color: var(--primary-green);
    color: #fff;
    fill: var(--tertiary-green);
}

.button-1:active {
    border-color: var(--tertiary-green);
    color: var(--tertiary-green);
    fill: var(--tertiary-green);
}

@media (min-width: 1440px) {
    .button-1 {
        min-width: 250px;
    }
}

.button-2 {
    align-items: center;
    background-color: var(--secondary-green);
    border: 2px solid #fff;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    fill: #000;
    font-size: 20px;
    font-weight: 600;
    height: 48px;
    justify-content: center;
    line-height: 24px;
    min-width: 140px;
    outline: 0;
    padding: 0 17px;
    text-align: center;
    text-decoration: none;
    transition: all .3s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-2:focus {
    color: #fff;
}

.button-2:hover {
    border-color: var(--tertiary-green);
    background-color: var(--primary-green);
    color: #fff;
    fill: var(--tertiary-green);
}

.button-2:active {
    border-color: var(--tertiary-green);
    color: var(--tertiary-green);
    fill: var(--tertiary-green);
}

@media (min-width: 1440px) {
    .button-2 {
        min-width: 250px;
    }
}

.button-3 {
    align-items: center;
    background-color: transparent;
    border: 2px solid var(--primary-green);
    box-sizing: border-box;
    color: var(--primary-green);
    cursor: pointer;
    display: inline-flex;
    fill: #000;
    font-size: 24px;
    font-weight: 600;
    height: 48px;
    justify-content: center;
    font-weight: 700;
    line-height: 24px;
    min-width: 140px;
    outline: 0;
    padding: 0 17px;
    text-align: center;
    text-decoration: none;
    transition: all .3s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-3:focus {
    color: var(--primary-green);
}

.button-3:hover {
    border-color: var(--soft-blue);
    background-color: var(--primary-green);
    color: var(--soft-blue);
    fill: var(--tertiary-green);
}

.button-3:active {
    border-color: var(--tertiary-green);
    color: var(--tertiary-green);
    fill: var(--tertiary-green);
}

@media (min-width: 768px) {
    .button-3 {
        min-width: 300px;
    }
}

.button-4 {
    align-items: center;
    background-color: var(--light-grey);
    border: 2px solid #fff;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    fill: #000;
    font-size: 20px;
    font-weight: 600;
    height: 48px;
    justify-content: center;
    line-height: 24px;
    min-width: 140px;
    outline: 0;
    padding: 0 17px;
    text-align: center;
    text-decoration: none;
    transition: all .3s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-4:focus {
    color: #fff;
}

.button-4:hover {
    border-color: var(--dark-grey);
    background-color: #fff;
    color: var(--dark-grey);
    fill: var(--dark-green);
}

.button-4:active {
    border-color: var(--tertiary-green);
    color: var(--tertiary-green);
    fill: var(--tertiary-green);
}

@media (min-width: 768px) {
    .button-4 {
        min-width: 200px;
    }
}

.button-5 {
    align-items: center;
    background-color: var(--dark-grey);
    border: 2px solid #fff;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    fill: #000;
    font-size: 20px;
    font-weight: 600;
    height: 48px;
    justify-content: center;
    line-height: 24px;
    min-width: 140px;
    outline: 0;
    padding: 0 17px;
    text-align: center;
    text-decoration: none;
    transition: all .3s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-5:focus {
    color: #fff;
}

.button-5:hover {
    border-color: var(--light-grey);
    background-color: #fff;
    color: var(--light-grey);
    fill: var(--light-green);
}

.button-5:active {
    border-color: var(--tertiary-green);
    color: var(--tertiary-green);
    fill: var(--tertiary-green);
}

@media (min-width: 768px) {
    .button-5 {
        min-width: 200px;
    }
}

.button-6 {
    align-items: center;
    background-color: var(--secondary-green);
    border: 2px solid var(--primary-green);
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    fill: #000;
    font-size: 20px;
    font-weight: 600;
    height: 48px;
    justify-content: center;
    line-height: 24px;
    min-width: 140px;
    outline: 0;
    padding: 0 17px;
    text-align: center;
    text-decoration: none;
    transition: all .3s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-6:focus {
    color: #fff;
}

.button-6:hover {
    border-color: var(--tertiary-green);
    background-color: #fff;
    color: var(--primary-green);
    fill: var(--tertiary-green);
}

.button-6:active {
    border-color: var(--tertiary-green);
    color: var(--tertiary-green);
    fill: var(--tertiary-green);
}

@media (min-width: 1440px) {
    .button-6 {
        min-width: 250px;
    }
}

.button-7 {
    align-items: center;
    background-color: var(--secondary-green);
    border: 2px solid #fff;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    fill: #000;
    font-size: 16px;
    font-weight: 600;
    height: 48px;
    justify-content: center;
    line-height: 24px;
    max-width: 100px;
    outline: 0;
    padding: 0 17px;
    text-align: center;
    text-decoration: none;
    transition: all .3s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-7:focus {
    color: #fff;
}

.button-7:hover {
    border-color: var(--tertiary-green);
    background-color: var(--primary-green);
    color: #fff;
    fill: var(--tertiary-green);
}

.button-7:active {
    border-color: var(--tertiary-green);
    color: var(--tertiary-green);
    fill: var(--tertiary-green);
}

